.table-container {
    overflow-x: auto;
    border-radius: 10px 10px 0 0; 
    border: 1px solid #e0e0e0;
    height: 55vh;
  }
  
  .modern-table {
    width: 100%;
    border-collapse: collapse;
    /* margin: 20px 0; */
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    /* height: 70vh; */
  }

  .modern-table thead th {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #f4f4f4;
    /* set Fixed Header */
  }
  
  .modern-table thead {
    background-color: #f4f4f4;
    /* set Fixed Header */
  }
  
  .modern-table th, .modern-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;  
  }
  
  .modern-table th {
    background-color: #F6F5FB;
    color: #70807E;
    /* text-transform: uppercase; */
    font-size: 14px;
    font-weight: 500;
  }
  
  .modern-table tr:hover {
    background-color: #f1f1f1;
  }
  
  .modern-table tbody tr {
    font-size: 16px;
    font-weight: 400;
    color: #696767;
  }
  
  .modern-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  